@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 900px;
  height: 100vh;
  /* border: 2px solid slateblue; */
  margin: auto;
  text-align: center;
  position: relative;
}

.text_title{
  position: absolute;
  top: 50px; 
  /* top: 20px; */
}

#text_field{
  /* margin-top: 10px; */
  width: 100%;
  margin-top:10%;
  border-radius: 5px;
  border:2px solid slategray;
  resize: none;
  
}

.btn{
  position: absolute;
  margin-top: 1px;
}

.btn1{
  padding:5px;
  outline: snow;
  color: whitesmoke;
  background-color: black;
  cursor: pointer;
  margin-left: 2px;
}
.btn1:hover{
  
  color: black;
  background-color: greenyellow;
}

.word_length{
  position: absolute;
  bottom: 250px;
  font-weight: bold;
 
}
.time{
  position: absolute;
  bottom: 220px;
  font-weight: bold;
 
}
.preview{
  position: absolute;
  top: 550px;
 
}
